.kdtoast{position:fixed;bottom:48px;right:32px;
padding:8px;display:inline-block;min-height:48px;line-height:48px;background-color:#323232;color:#ffffff;
border-radius:4px;-webkit-border-radius:4px;
}
.kdtoast, .kdtoast *{vertical-align:top;}
.kdcheckbox {
  position: relative;
  margin: 4px 12px 0 0;
  vertical-align: top;
}
.bt{text-transform:uppercase;font-family:'Roboto', Helvetica, Arial, sans-serif;position:relative;overflow:hidden;cursor:pointer;font-weight:500;font-size:14px;display:inline-block;padding:0 8px;
height:36px;line-height:36px;color:#536DFE;border-radius:3px;-webkit-border-radius:3px;margin:8px;opacity:0.9;}
.bt:link, .bt:active, .bt:visited{color:#536DFE;}
.bt:before{font-family:'koddostu';margin:0 12px 0 4px;font-size:18px;vertical-align:top;}
.k .bt{margin-bottom:4px;}
.bt:hover{cursor:pointer;background:rgba(158,158,158,.2);opacity:1;}
.kdtoast{z-index:30;box-shadow: 0 10px 20px rgba(0,0,0,0.22), 0 6px 6px rgba(0,0,0,0.26);-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.22), 0 6px 6px rgba(0,0,0,0.26);}
@media (max-width: 700px){
.kdtoast{bottom:0px;left:0px;width:100%;}
}
.kdtoast.hata{background-color:#C62828;}
.kdtoast.basari{background-color:#2E7D32;}
